---

---

<div>
  <h3>¿Quien soy yo? 🤨</h3>
  <hr />
</div>
<main>
  <a href="">
    <div class="card bg-transparent" style="width: 18rem;">
      <img
        src="https://th.bing.com/th/id/OIG.6qvbs4jNhtnc5fo3_Ynx?pid=ImgGn&w=1024&h=1024&rs=1"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </a>
  <a href="">
    <div class="card bg-transparent" style="width: 18rem;">
      <img
        src="https://th.bing.com/th/id/OIG.6qvbs4jNhtnc5fo3_Ynx?pid=ImgGn&w=1024&h=1024&rs=1"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </a>
  <a href="">
    <div class="card bg-transparent" style="width: 18rem;">
      <img
        src="https://th.bing.com/th/id/OIG.6qvbs4jNhtnc5fo3_Ynx?pid=ImgGn&w=1024&h=1024&rs=1"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </a>
  <a href="">
    <div class="card bg-transparent" style="width: 18rem;">
      <img
        src="https://th.bing.com/th/id/OIG.6qvbs4jNhtnc5fo3_Ynx?pid=ImgGn&w=1024&h=1024&rs=1"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </a>
  <a href="">
    <div class="card bg-transparent" style="width: 18rem;">
      <img
        src="https://th.bing.com/th/id/OIG.6qvbs4jNhtnc5fo3_Ynx?pid=ImgGn&w=1024&h=1024&rs=1"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </a>
</main>

<style>
  main {
    display: flex;
    gap: 1rem;
    flex-flow: wrap row;
    justify-content: center;
  }

  a {
    text-decoration: none;
  }
  p {
    color: white;
  }
</style>
