---

---

<main>
    <a href="">
        <div class="card bg-transparent" style="width: 18rem;">
            <img src="https://lh3.googleusercontent.com/pw/ADCreHdv6NGBeeqapXGPgZ1j3SXtMpceFPiWF_Qcsr6krrzd0Hn34nqYEkWkhAt8f6gtyrxp82WXbs7Xg38cGrLs_c4hlbUfuiQL5qTd59zVMwz8hqC8L97c7lgc9vc3SLTrPh3plOaYU23UBk0mmog9TDX-DwmQuygSp77kkBvBHyA9xIfe7Cbp6scCkldR5R32B3MbIuR12YRTiBGrhAB7Y7a1uOO9k0QjRiECkK0y4qwITcHQHBtGOMhvj0bPZog5-dbEybTdrGFIUUgpMc_2DFwcHn1h4JXawcepDVdbLGwpap6ecWfLuqNWyA_1pOkKa1wopmCZLXw8cMMU2Xa8H_e0YwL-MpoXdBrqRpUAKiJR9_Hslqz6LEfrV9X0_li_lvkyydBgGZHHUCqjJlO_QkgmlhXXn4RE3IgK9v4xH5cR7LXOEUyZg65mly6SDRWdiI7W1-pJdsE7jxdjimkQFGljZ111M-U-_WOnTcZyXvOe6QmOJDE2Sjkj5KtB47LGQANVuYlY6wATKX5u3jObh60kJjCVdHtUvlVJByaJkX6h1G5coQtsojnnHBSE85KPMuZkG40GcGHnZ37MZZahz2eQKB8KbgMNw--acRsfTboxwSmvdh0AN9igFd9mLD8ZPQRCm_nCi-tsbwBsH0P5s0sjbOTJu9N9MR-hNnq49IwD5wCtqhA59TfBqmxPMb4OotRcxFCEAEt6o3g19bAfMISWlp_XU0itskFatXb_9crFtypIat6bUdPp7UiJRng6I3WSocuY6kh5qOp3bg5Ft5DNtloDPz7zNCMx1Ce1D_PnHtZzXz5AqRqK8krosps0B4HcxoLZ8vnl3QGKrqrxA3_MxlfhrVz9qsF2dHdrJEC1aSDnox8fLvV0LAv1CMRFbX2-0n7uksKKRPPx_XHegegRW7Cj12C__In4t9BqubfAys-ItS21Rx_iQc5YHw=w385-h289-no?authuser=0" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </a>
    
</main>

<style>
    main{
        color:white;
    }

    a {
        text-decoration: none;
    }
    p {
        color: white;
    }
</style>