---


---


<main>
    <div class="titulo">
        <h2>Calendario || Desarrollo.</h2>
    </div>
    <div class="main">
       
        <a href="">
            <div class="contenedor">
                <div class="text">
                    <h4>Se necesita desarrollar paginas.</h4>
                    <h3><i>Fecha: 21/Oct/23.</i></h3>
                    <p> como:
                        <ol>
                            <li>Servicios</li>
                            <li>Portafolio</li>
                            <li>Sobre Nosotros</li>
                            <li>Contacto</li>
                        </ol>
                    </p>
                </div>
            </div>
        </a>
        <br>
        <a href="">
            <div class="contenedor">
                <div class="text">
                    <h4>Desarrollo de 'Login'.</h4>
                    <h3><i>Fecha: 21/Oct/23.</i></h3>
                    <p>Es necesario un login con routes.</p>
                </div>
            </div>
        </a>
    </div>
</main>

<style>
    main {
        margin:  0 auto;
        width: 99%;
    }
    .text h3 {
        color: rgba(169, 169, 169, 0.509);
        font-size: 12px;
    }
    .text h4 {
        color: #FF6F00  ;
        font-size: 20px;
    }
    .text p {
        color: white;
        font-size: 20px;
    }
    
    .text ul {
        font-size: 13px;
        position: relative;
        left: 55px;
    }
    .text ol {
        font-size: 13px;
        position: relative;
        left: 55px;
        width: max-content;
    }
    
    .titulo {
        padding-bottom: 15px;
    }
    .titulo h2 {
        font-size: 25px;
    }
    

</style>