---
import Layout from "../layouts/Layout.astro";
import Primeros_pasos from "./Cursos/Typescript/1_Primeros_pasos_Typescript.md"


---

<Layout>
<main>
    <ol>
        <li>
            <a href="/">Curso de Typescript.</a>
            <ul id="veo">
                <li><Primeros_pasos/></li>
            </ul>
        </li>
        <li>
            <a href="">Curso de Javascript.</a>
        </li>
    </ol>

    <button onclick="ver()">oooo</button>
</main>
</Layout>