---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header/Header.astro';
import Footer from '../components/footer/Pie_pagina.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Header />
		<Footer />
	</main>
</Layout>

<style>
	main {
		color: white;
	}
</style>
