---
import Layout from '../layouts/Layout.astro';
import Card_admin from '../components/cards/cards index admin/Card_admin.astro';
---

<Layout>
	<main>
		<hr>
		<div>
			<h2>Presentacion</h2>
			<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit autem minus explicabo quis aspernatur nostrum eos eligendi vel et illo, blanditiis obcaecati sint consequatur magnam omnis voluptatem nesciunt sapiente officia?

			</p>
		</div>
		<hr>
		<Card_admin />
		<hr>
		
	</main>
</Layout>


<style>
	hr {
		padding-bottom: 3rem;
	}

</style>
