---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header/Header.astro';
import Footer from '../components/footer/Piepagina.astro';
---

<Layout>
	<main>
		<Header />
		<Footer />
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, error sapiente vero molestias, ut ullam excepturi, exercitationem ipsam quia cupiditate voluptatem quibusdam! Eveniet cupiditate fugit cumque delectus officia aliquid soluta?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, error sapiente vero molestias, ut ullam excepturi, exercitationem ipsam quia cupiditate voluptatem quibusdam! Eveniet cupiditate fugit cumque delectus officia aliquid soluta?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, error sapiente vero molestias, ut ullam excepturi, exercitationem ipsam quia cupiditate voluptatem quibusdam! Eveniet cupiditate fugit cumque delectus officia aliquid soluta?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, error sapiente vero molestias, ut ullam excepturi, exercitationem ipsam quia cupiditate voluptatem quibusdam! Eveniet cupiditate fugit cumque delectus officia aliquid soluta?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, error sapiente vero molestias, ut ullam excepturi, exercitationem ipsam quia cupiditate voluptatem quibusdam! Eveniet cupiditate fugit cumque delectus officia aliquid soluta?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, error sapiente vero molestias, ut ullam excepturi, exercitationem ipsam quia cupiditate voluptatem quibusdam! Eveniet cupiditate fugit cumque delectus officia aliquid soluta?</p>
	</main>
</Layout>

<style>
	main {
		color: white;
	}
</style>
