---

---

<main>
    <div class="titulo">
        <h2>Calendario || Administracion.</h2>
    </div>
    <div class="main">
       
        <a href="">
            <div class="contenedor">
                <div class="text">
                    <h4>Calendario semestre Utp 2023-2</h4>
                    <h3><i>Fecha: 23/Oct/23.</i></h3><br>
                    <table>
                        <caption>Calendario 2023-2</caption>
                        <tr>
                            <td>Actividad</td>
                            <td>Fechas</td>
                            <td>si\No</td>
                        </tr>
                        <tr class="text">
                            <td>Iniciación de clases Segundo Semestre 
                                de 2023 todos los programas excepto 
                                Medicina</td>
                            <td>1 de agosto de 2023</td>
                            <td>Si</td>
                        </tr>
                        <tr class="text">
                            <td>Solicitudes prueba de validación y curso de 
                                extensión </td>
                            <td>Del 1 al 8 de agosto de 2023</td>
                            <td>Si</td>
                        </tr>
                        <tr class="text">
                            <td>Cancelación prueba de validación</td>
                            <td>Del 1 al 12 de agosto de 2023</td>
                            <td>Si</td>
                        </tr>
                        <tr class="text">
                            <td>Presentación prueba de validación</td>
                            <td>Del 1 al 26 de agosto de 2023
                            </td>
                            <td>Si</td>
                        </tr>
                        <tr class="text">
                            <td>Devolución de pago de matrícula por 
                                cancelación de semestre sin asistencia a 
                                clases</td>
                            <td>Hasta el 26 de agosto de 2023
                            </td>
                            <td>Si</td>
                        </tr>
                        <tr class="text">
                            <td>Devolución de pago de matrícula por 
                                cancelación de semestre sin asistencia a 
                                clases</td>
                            <td>Hasta el 23 de septiembre de 2023</td>
                            <td>Si</td>
                        </tr>
                        <tr class="text">
                            <td>Cancelación de semestre</td>
                            <td>Hasta el 17 de noviembre de 2023</td>
                            <td>Si</td>
                        </tr>
                        <tr class="text">
                            <td>Cancelación de una asignatura</td>
                            <td>Hasta el 18 de noviembre de 2023</td>
                            <td>Si</td>
                        </tr>
                        <tr class="text">
                            <td>Último día de clases</td>
                            <td>18 de noviembre de 2023</td>
                            <td>Si</td>
                        </tr>
                        <tr class="text">
                            <td>Exámenes finales</td>
                            <td>Del 27 de noviembre al 2 de diciembre de 2023</td>
                            <td>3</td>
                        </tr>
                        <tr class="text">
                            <td>Digitación de notas</td>
                            <td>Hasta el 6 de diciembre de 2023</td>
                            <td>3</td>
                        </tr>
                        <tr class="text">
                            <td>Promedio por parte de Admisiones, Registro 
                                y Control Académico</td>
                            <td>7 de diciembre de 2023</td>
                            <td>3</td>
                        </tr>
                 </table>
                </div>
            </div>
        </a>
        
    </div>
</main>

<style>
    main {
        margin:  0 auto;
        width: 99%;
    }
    .text h3 {
        color: rgba(169, 169, 169, 0.509);
        font-size: 12px;
    }
    .text h4 {
        color: #FF6F00  ;
        font-size: 20px;
    }
    .text p {
        color: white;
        font-size: 20px;
    }
    
    .text ul {
        font-size: 13px;
        position: relative;
        left: 55px;
    }
    .text ol {
        font-size: 13px;
        position: relative;
        left: 55px;
        width: max-content;
    }
    
    .titulo {
        padding-bottom: 15px;
    }
    .titulo h2 {
        font-size: 25px;
    }


    /*calendario Tabla*/
    table {
        width: 950px;
        text-align: center;
    }
    
    .text {
        text-align: left;
    }

</style>