---



---
<header>
    <div>
        <h1>Juan Diego Cifuentes Tobon</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/cursos">Cursos</a></li>
            <li><a href="">Portafolio</a></li>
            <li><a href="">Sobre Nosotros</a></li>
            <li><a href="">Contacto</a></li>
        </ul>
    </nav>
</header>

<style>
    header {
        padding-top: 25px;
        display: flexbox;
        justify-content: center ;
        align-items: center;
        padding-bottom: 15px;
    }
    nav {
        display: flex;
        
    }
    ul{
        display: flex;
        flex-flow: wrap row;
        justify-content:center;
        gap: 15px;
        width: 100%;
    }
    nav ul li {
        display: flex;
    }


    #titulo 
    div {
        display: flex;
        color: black;
        justify-content: center;
        padding-top: 50px;
    }
    h1 {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        font-family: 'monospace',Courier, Courier, ;
        font-size: 35px;
    }

</style>
