---

---

<header>
  <div>
    <h1>Juan Diego Cifuentes</h1>
  </div>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="">Album</a></li>
      <li><a href="">Post</a></li>
    </ul>
  </nav>
</header>

<style>
  header {
    display: grid;
    justify-content: center;
    align-content: center;
  }
  a {
    text-decoration: none;
    color: azure;
  }
  ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-content: center;
  }
</style>
