---



---
<header>
    <div>
        <h1>Juan Diego Cifuentes Tobon...</h1>
    </div>
    <nav>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Portafolio</a></li>
            <li><a href="#">Sobre Nosotros</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
    
</header>

<style>
    header {
        display: flexbox;
        justify-content: center ;
        align-items: center;
        padding-bottom: 15px;
    }
    nav {
        display: flex;
        
    }
    ul{
        display: flex;
        flex-flow: wrap row;
        gap: 15px;
    }
    nav ul li {
        display: flex;
        color: aqua;
    }


    #titulo 
    div {
        color: black;
    }

</style>
